<?xml version="1.0"?>
<configuration scan="true" scanPeriod="10 seconds">

	<!-- ch.qos.logback.core.ConsoleAppender 控制台输出 -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %logger.%method [%file:%line] - %m%n
			</pattern>
		</encoder>
	</appender>

	<logger name="com.cmri" additivity="false">
		<level value="debug" />
		<appender-ref ref="console" />
	</logger>
	
	
	
	<!-- info痕迹输出 -->
	<appender name="Dinfo" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Encoding>UTF-8</Encoding>
		<File>log/info.log</File>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS}, %m %n
			</pattern>
		</layout>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>log/info-%d{yyyy-MM-dd}.log
			</FileNamePattern>
			<MaxHistory>10</MaxHistory>
			<TimeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<MaxFileSize>5MB</MaxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

	<logger name="com.cmri.ots.controller" additivity="false">
		<level value="info" />
		<appender-ref ref="Dinfo" />
	</logger>
	
	
	

	<!-- ch.qos.logback.core.rolling.RollingFileAppender 文件日志输出 -->
	<appender name="randomCount"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Encoding>UTF-8</Encoding>
		<File>log/randomCount.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>log/randomCount-%d{yyyy-MM-dd}.log
			</FileNamePattern>
			<MaxHistory>10</MaxHistory>
			<TimeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<MaxFileSize>5MB</MaxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>[%-5level] %d{HH:mm:ss.SSS} [%thread] %logger{36} - %msg%n
			</pattern>
		</layout>
	</appender>

	<logger name="syncRandomHashCode" additivity="false">
		<level value="debug" />
		<appender-ref ref="randomCount" />
	</logger>
	
	<!-- ch.qos.logback.core.rolling.RollingFileAppender 文件日志输出 -->
	<appender name="redisCount"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Prudent>true</Prudent> 
		<Encoding>UTF-8</Encoding>
		<File>log/redisCount.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>log/redisCount-%d{yyyy-MM-dd}.log
			</FileNamePattern>
			<MaxHistory>10</MaxHistory>
			<TimeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<MaxFileSize>5MB</MaxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>[%-5level] %d{HH:mm:ss.SSS} [%thread] %logger{36} - %msg%n
			</pattern>
		</layout>
	</appender>

	<logger name="redisTimeout" additivity="false">
		<level value="debug" />
		<appender-ref ref="redisCount" />
	</logger>
	
	<!-- ch.qos.logback.core.rolling.RollingFileAppender 文件日志输出 -->
	<appender name="dubboCount"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Encoding>UTF-8</Encoding>
		<File>log/dubboCount.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>log/dubboCount-%d{yyyy-MM-dd}.log
			</FileNamePattern>
			<MaxHistory>10</MaxHistory>
			<TimeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<MaxFileSize>5MB</MaxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>[%-5level] %d{HH:mm:ss.SSS} [%thread] %logger{36} - %msg%n
			</pattern>
		</layout>
	</appender>

	<logger name="dubboTimeout" additivity="false">
		<level value="debug" />
		<appender-ref ref="dubboCount" />
	</logger>
	
	<!-- ch.qos.logback.core.rolling.RollingFileAppender 文件日志输出 -->
	<appender name="highHitCacheCount"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Encoding>UTF-8</Encoding>
		<File>log/highHitCacheCount.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>log/highHitCacheCount-%d{yyyy-MM-dd}.log
			</FileNamePattern>
			<MaxHistory>10</MaxHistory>
			<TimeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<MaxFileSize>5MB</MaxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>[%-5level] %d{HH:mm:ss.SSS} [%thread] %logger{36} - %msg%n
			</pattern>
		</layout>
	</appender>

	<logger name="highHitCacheTimeout" additivity="false">
		<level value="debug" />
		<appender-ref ref="highHitCacheCount" />
	</logger>
	
	<settings>
		<setting name="logPrefix" value="dao." />
	</settings>

	<logger name="org.mybatis.spring.SqlSessionUtils" level="INFO">	</logger>
	<logger name="org.apache.zookeeper.ClientCnxn" level="INFO">	</logger>
		
	<logger name="dao" level="DEBUG">
		<appender-ref ref="console" />
	</logger>
	
	<!-- 日志输出级别 -->
	<root>
		<level value="debug" />
		<appender-ref ref="console" />
	</root>

	<!--日志异步到数据库 <appender name="DB" class="ch.qos.logback.classic.db.DBAppender"> 
		日志异步到数据库 <connectionSource class="ch.qos.logback.core.db.DriverManagerConnectionSource"> 
		连接池 <dataSource class="com.mchange.v2.c3p0.ComboPooledDataSource"> <driverClass>com.mysql.jdbc.Driver</driverClass> 
		<url>jdbc:mysql://127.0.0.1:3306/databaseName</url> <user>root</user> <password>root</password> 
		</dataSource> </connectionSource> </appender> -->
</configuration> 