<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>ots_login-sso-web</display-name>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:config/applicationContext-*.xml</param-value>
	</context-param>
	<filter>
		<description>字符集过滤器</description>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<description>字符集编码</description>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<context-param>
        <param-name>logbackConfigLocation</param-name>
        <param-value>WEB-INF/classes/config/logback.xml</param-value> <!-- classpath是指 WEB-INF文件夹下的classes目录  -->
    </context-param>

	<listener>
		<description>spring监听器</description>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- 防止spring内存溢出监听器 -->
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>
	<!-- spring mvc servlet -->
	<servlet>
		<description>spring mvc servlet</description>
		<servlet-name>springMvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<description>spring mvc 配置文件</description>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:config/spring-mvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
 <!-- dwr的监听-->
<!-- 	<listener> -->
<!-- 	    <listener-class>org.directwebremoting.servlet.DwrListener</listener-class> -->
<!-- 	</listener> -->

<!-- dwr的servlet配置 add by jie.su-->
<!-- 	<servlet> -->
<!-- 		<servlet-name>dwr-invoker</servlet-name> -->
<!--         <servlet-class> -->
<!--        		org.directwebremoting.servlet.DwrServlet -->
<!--         </servlet-class> -->
<!-- 		<init-param> -->
<!-- 			<param-name>debug</param-name> -->
<!-- 			<param-value>false</param-value> -->
			<!--开发时设为true，生产时设为false-->
<!-- 		</init-param> -->
<!-- 	</servlet> -->
<!-- 	<servlet-mapping> -->
<!--     	<servlet-name>dwr-invoker</servlet-name> -->
<!--     	<url-pattern>/dwr/*</url-pattern> -->
<!--     </servlet-mapping> -->
	<servlet-mapping>
		<servlet-name>springMvc</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>/index.jsp</welcome-file>
	</welcome-file-list>
</web-app>