/*=================================================================
	样式修改-灰底黑字
==================================================================*/
/*黑color:#2b2c30; 湖水蓝color:#19ebdf; 移动LOGO蓝:#0085d0; logo红 color:#b5174d*//*绿色#6cb670*/
/*section背景-前景字体*/
#body .bg_modi{ background-color: rgba(255,255,255,.8); color:#0085d0;}
#body .og-expander-inner{ color:#0085d0;}
/*整让字体*/
#body .color{}
/*首页图边框*/
/*标题下线条*/
#body .border{border-top: 1px solid #0085d0;}
/*首页四边形边色*/
#body .border:before{ 
   background-color: #0085d0;
   border: 1px ridge #0085d0;
   }
#body .icon-box{
	border-left: solid 3px #0085d0;
	border-right: solid 3px #0085d0;
  }
#body .icon-box:before{
	border-top: solid 4.2426px #0085d0;
	border-right: solid 4.2426px #0085d0;
}
#body .icon-box:after {
	border-bottom: solid 4.2426px #0085d0;
	border-left: solid 4.2426px #0085d0;
}

/*方案导航字色*/
#body .portfolio-filter ul li a{ color:#0085d0}
/*方案按钮背景色*/
#body .og-details a{background-color: #0085d0; border:1px solid #0085d0; color:#fff;}
/*方案导航按钮边色*/
#body .portfolio-filter ul li a::before {
	background: #0085d0;
}

#body .portfolio-filter ul li a::after {
	background: #0085d0;
}
/*产品介绍背景线框*/
#body .service-block{
    border-left: 1px solid #0085d0;
    border-top: 1px solid #0085d0;
}

/*按钮颜色*/
#body .btn-transparent{background-color: #0085d0; border:1px solid #0085d0; }
/*返回顶部按钮颜色*/
#body #scrollUp{background-color: #0085d0; border:1px solid #0085d0; }
/*整站字体*/
#body .color{ color:#0085d0}

/*==============*/

/*产品列表字色*/
#body .team-mate{ color:#eee;}
/*FAQ字色*/
#body .pricing{ color:#eee;}
/*方案大图背景透明度*/
#body .og-expander{background-color: rgba(242,242,242,.9);}
